{% extends 'base.html.twig' %}

{% block title %}{{ 'Connexion' }}{% endblock %}

{% block body %}
    <main class="authentication">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <section class="login">
            <div class="login-form">
                <h1>{{ 'Connexion' }}</h1>
                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-field">
                        <label for="username">{{ 'Nom d\'utilisateur'}}</label>
                        <input type="text" id="username" class="input" name="_username" value="{{ last_username }}">
                    </div>

                    <div class="form-field">
                        <label for="password">{{ 'Mot de passe' }}</label>
                        <input type="password" id="password" class="input" name="_password">
                    </div>

                    <button class="btn" type="submit">{{ 'Valider' }}</button>
                </form>
            </div>
            <div class="login-countries">
                <div class="countries">
                    {% for country in countries %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.iso2 ~".svg"  }}" alt="{{ country.nameEn }} flag">
                            <div class="name">
                                {{ country.nameFr }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="countries countries--reverse">
                    {% for country in countries %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.iso2 ~".svg"  }}" alt="{{ country.nameEn }} flag">
                            <div class="name">
                                {{ country.nameFr }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="countries">
                    {% for country in countries|shuffle %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.iso2 ~".svg"  }}" alt="{{ country.nameEn }} flag">
                            <div class="name">
                                {{ country.nameFr }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
