{% extends 'base.html.twig' %}

{% block title %}{{ 'Geogames - Créer un compte' }}{% endblock %}

{% block body %}
    <main class="authentication">
        <section class="login">
            <div class="login-form">
                <h1>{{'Créer un compte'}}</h1>
                {{ form_start(registrationForm) }}
                <div class="form-field">
                    {{ form_row(registrationForm.username, {
                        label: 'Nom d\'utilisateur'
                    }) }}
                </div>

                <div class="form-field">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                </div>

                <div class="form-field checkbox">
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'J\'accepte les conditions d\'utilisation'
                    }) }}
                </div>

                <button type="submit" class="btn">{{ 'Valider' }}</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="login-countries">
                <div class="countries">
                    {% for country in countries %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}" alt="{{ country.name }} flag">
                            <div class="name">
                                {{ country.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="countries countries--reverse">
                    {% for country in countries %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}" alt="{{ country.name }} flag">
                            <div class="name">
                                {{ country.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="countries">
                    {% for country in countries|shuffle %}
                        <div class="country">
                            <img class="flag" src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}" alt="{{ country.name }} flag">
                            <div class="name">
                                {{ country.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
